user-backend-app/__pycache__/
# user-backend-app/**/__pycache__/
# payments-backend-app/**/__pycache__/
payments-backend-app/__pycache__/
# subscription-backend-app/**/__pycache__/
subscription-backend-app/__pycache__/
# audio-streaming-backend-app/**/__pycache__/*
audio-streaming-backend-app/__pycache__/
audio-storage-backend-app/__pycache__/
*/graduation-work-*.json
graduation-work-*.json
backoffice-app/__pycache__/
.DS_Store
