user-backend-app/__pycache__/
# user-backend-app/**/__pycache__/
# payments-backend-app/**/__pycache__/
payments-backend-app/__pycache__/
# subscription-backend-app/**/__pycache__/
subscription-backend-app/__pycache__/
# audio-streaming-backend-app/**/__pycache__/*
audio-streaming-backend-app/__pycache__/
audio-storage-backend-app/__pycache__/
*/graduation-work-*.json
graduation-work-*.json
backoffice-app/__pycache__/
download-backend-app/__pycache__/
servers/fastapi/**/__pycache__/
servers/fastapi/subscription-backend-app/__pycache__/*
servers/fastapi/search-backend-app/__pycache__/*
servers/fastapi/download-backend-app/__pycache__/*
servers/fastapi/audio-storage-backend-app/__pycache__/
.DS_Store
*.pid
playground
