repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
        args: ["--line-length", "120", "--profile", "black"]
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-json
      - id: requirements-txt-fixer
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3.10
        args: ["--line-length", "120"]

  # - repo: https://github.com/RobertCraigie/pyright-python
  #   rev: v1.1.303
  #   hooks:
  #     - id: pyright
  #       name: pyright
  #       entry: pyright
  #       language: system
  #       types: [python]

  # - repo: local
  #   hooks:
  #     - id: pylint
  #       name: pylint
  #       entry: pylint
  #       language: system
  #       types: [python]
  #       args: [
  #           "-rn", # Only display messages
  #           "-sn", # Don't display the score
  #           "--rcfile=.pylintrc", # Link to your config file
  #           "--load-plugins=pylint.extensions.docparams", # Load an extension
  #         ]
